[core]
	pager=
	excludesfile=~/.gitignore
	deltaBaseCacheLimit = 1G
[difftool "meld"]
	path=/Applications/Meld.app/Contents/MacOS/Meld
[difftool "kdiff3"]
	path=/Applications/kdiff3.app/Contents/MacOS/kdiff3
[user]
	name = Randy Smith
[merge]
	conflictstyle=diff3
	mergeoptions = --no-edit
[branch]
	autosetupmerge=always
[google]
	lastUpdateCheck = 20151104000000
[push]
	default = simple
