[core]
	pager=
	excludesfile=~/.gitignore
	deltaBaseCacheLimit = 1G
[user]
	name = Randy Smith
[merge]
	conflictstyle=diff3
	mergeoptions = --no-edit
[branch]
	autosetupmerge=always
[google]
	lastUpdateCheck = 20151104000000
[push]
	default = simple
[http]
	cookiefile = /Users/rdsmith/.gitcookies
